// Farben

$grey-01:	#eeeeee;
$grey-01-2: #e6e6e6;
$grey-01-3: #dfdfdf;
$grey-01-4:	#dadada;

$grey-02:	#bbbbbb;

$grey-03:	#464646;

$color-01-light:	#a5d580; 
$color-01-dark:		#85c552;

// TODO $color-02-light: Falsche Farbe!
$color-02-light:	#a5d580;
$color-02-dark:		#005ba5;

$color-03-light:	#ff9730;
$color-03-dark:		#ff7f00;




