#benefits {
    background: $color-01-dark;
    color: $grey-01;
}

#benefits i {
    font-size: 10rem;
    text-shadow: 2px 2px 4px $grey-03;
}

#benefits .popover-title,
#benefits .popover-content {
    color: $grey-03;
    text-align: center;
}

#benefits .popover-title {
    font-weight: bold;
}
